*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body, hr{
    background-color: rgb(241, 245, 247);
}

/*header*/

#Title-background {
    padding: 10px;
    background-color: white;
    line-height: 30px;
}

h1, #Logo {
    vertical-align: middle;
}

.Title {
    display: inline-block;
    height: auto;
    width: auto;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
}

/*main*/
.container {
    width: 75%;
    margin: 50px auto;
    background-color: white;
    padding: 20px 50px;
}

.buttons {
    width: 100px;
    height: 30px;
}

h3, li {
    margin: 40px;
}