*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body, hr{
    background-color: rgb(241, 245, 247);
}

/*header*/

#Title-background {
    padding: 10px;
    background-color: white;
    line-height: 30px;
}

h1, #Logo {
    vertical-align: middle;
}

.Title {
    display: inline-block;
    height: auto;
    width: auto;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
}

/*main*/
.container {
    width: 75%;
    margin: 2px auto;
    background-color: white;
    padding: 20px 50px;
}

#button-area {
    margin-top: 50px;
    border-radius: 20px 20px 0px 0px;
}

.buttons {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

#button-1 {
    color: white;
    background-color: rgb(46, 186, 252);
}

#button-2 {
    border: 1px solid lightgrey;
    color: lightgrey;
    background-color: white;
}

h3 {
    font-size: 25px;
    margin: 20px 0px 10px 20px;
}

h3:before {
    content: "\25BE";
    font-size: 35px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li {
    font-size: 22px;
    margin: 0px 0px 20px 20px;
}

li:before {
    content: "\2713";
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    padding: 1px 5px;
    margin-right: 10px;
    font-size: 15px;
}

.x:before {
    content: "\2715";
    color: red;
    border: 2px solid red;
}

span {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.blue {background-color: rgb(46, 186, 252);}

#violet {background-color: rgb(163, 91, 211);}

#green {background-color: rgb(29, 172, 117);}

#orange {background-color: rgb(255, 136, 0);}

#pink {background-color: rgb(238, 94, 161);}

#light-green {background-color: rgb(129, 209, 64);}
